<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conn" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;password=admin;database=facturacionsat;default command timeout=60;"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
    <httpCookies httpOnlyCookies="false"/>
    <!-- <sessionState cookieless="UseUri"></sessionState>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <!--batch="false" PARA COMPILATION-->
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="Microsoft.Office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>-->
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <customErrors defaultRedirect="error" mode="Off">
      <error statusCode="404" redirect="404"/>
      <error statusCode="500" redirect="500"/>
      <error statusCode="503" redirect="503"/>
      <error statusCode="408" redirect="Timeout"/>
      <error statusCode="599" redirect="Timeout"/>
      <error statusCode="403" redirect="403"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="login" timeout="5000"/>
    </authentication>
    <authorization>
      <allow users="*"/>
      <!--<deny users="?" />-->
    </authorization>
    <xhtmlConformance mode="Transitional"/>
    <webServices>
      <protocols>
        <!--<add name="HttpGet"/>-->
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <!--<mimeMap fileExtension=".txt" mimeType="application/octet-stream" />-->
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="privado">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="GpsSolutions.wsReports" value="http://web1ws.shareservice.co/ws/wsReports.asmx"/>
    <add key="NameProject" value="Monitoreo"/>
  </appSettings>
</configuration>